# Note: must be run from inside of docker.
# If you want to use caddy outside of docker you can replace user-service, banking-service, with localhost


localhost {
	handle_path /api/user/* {
		reverse_proxy user-service:8081
	}

	handle_path /api/banking/* {
		reverse_proxy banking-service:8082
	}

	handle_path /api/trading/* {
	  reverse_proxy host.docker.internal:3000
	}

	handle {
		# Frontend
		reverse_proxy host.docker.internal:4200
	}
}
